packages/database/src/seeds/workflows/chatwoot-ai-agent.json
{
  "name": "Chatwoot AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d4597311-e7b4-4791-a45d-290bfa0d8ff9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ],
      "id": "50bc4e90-b105-4494-a58f-109fd417db19",
      "name": "Webhook",
      "webhookId": "d4597311-e7b4-4791-a45d-290bfa0d8ff9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        280,
        0
      ],
      "id": "b92da48b-6358-4891-9184-7a00c54f53dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        240
      ],
      "id": "f06501c8-b118-4c11-a2e3-a10585484ed0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "y8sLJ2LzZL2c7SGi",
          "name": "OpenAI Webinar"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.conversation.contact_inbox.source_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        240
      ],
      "id": "9e97a0ee-dcb8-480b-9c70-fc8a6c3bc6ee",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "Messages",
        "operation": "Create A New Message In A Conversation",
        "account_id": "={{ $('Webhook').item.json.body.account.id }}",
        "conversation_id": "={{ $('Webhook').item.json.body.conversation.id }}",
        "content": "={{ $json.output }}",
        "private": false,
        "content_type": "=text",
        "template_params": "{}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-chatwoot.chatWoot",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "0bf2db4f-5223-4d77-a83d-5706108458e3",
      "name": "Create New Message",
      "credentials": {
        "chatwootApi": {
          "id": "FctKQzZqmtZp65LF",
          "name": "ChatWoot - Application"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e95389d1-3bee-48d9-9efb-8222b4b6b206",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        0
      ],
      "id": "9ba8bbc0-7582-411b-9b82-8c1ca8af295a",
      "name": "If Incoming Message"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create New Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Incoming Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "82466eec-b23c-4d07-a12a-3ba559cae192",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa52a98dd39f67760c7540fff8a0dd5306d89f766551eb7a7c84b5f43eb33d4c"
  },
  "id": "sllw12I6rsuvJSpp",
  "tags": []
}
