packages/database/src/seeds/workflows/whatsapp-ai-google-calendar.json
{
  "name": "Joko's Personal AI Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1e593e7f-9b30-451a-bf1b-4eeb963ac83e",
      "name": "WhatsApp Trigger",
      "webhookId": "7c9338c1-e701-4d43-92c7-d39eafdf8554",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "rz0qzNHxktacYbgn",
          "name": "WhatsApp OAuth account - Asisten Finansial AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Sekarang adalah tanggal {{ $now.format('yyyy-MM-dd') }} jam {{ $now.format('HH:mm:ss') }}.\n\nKamu adalah seorang personal assistant yang sangat hebat dari seseorang paling sibuk sedunia bernama Joko, jadi kamu harus mengatur dan memberikan informasi terkait jadwal Joko dengan sangat baik!\n\nKamu bertugas untuk mengecek dan membuat jadwal di Google Calendar Joko menggunakan tool \"GetEventsTool\" untuk mendapatkan seluruh agenda atau jadwal dalam periode waktu tertentu dan tool \"CreateEventTool\" untuk membuat event atau agenda sesuai dengan permintaannya.\n\n### PENTING ###\n- Untuk membuat event, kamu perlu data waktu mulai event, waktu selesai event dan keterangan event, kalau kamu belum mendapatkan ketiga itu, coba tanya dan pastikan kepada Joko terkait eventnya,\n- Sebelum membuat event nya, kamu konfirmasi lagi kepada Joko apakah data yang kamu kumpulkan sudah sesuai, jika sudah mendapat konfirmasi, baru buat event menggunakan tool \"CreateEventTool\"\n- Jangan terlalu kaku dalam membalas pesan atau meminta data, jangan terlihat seperti kamu adalah seorang robot AI, kamu harus terlihat semanusia mungkin!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "01400a8c-eb06-4f3e-8110-45e1871dec27",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        260
      ],
      "id": "13d7f5ae-0e0e-47b9-ae5f-90d9f2996726",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hv8gIsU1smdB2KAz",
          "name": "OpenAi account - Aji Prakoso"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id }}AAC"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        260
      ],
      "id": "7001675d-f3dc-4882-977c-fdfd54b6d176",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "612930151903843",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "5b5d4d11-8eb8-49b3-b46d-cb453051f949",
      "name": "WhatsApp Business Cloud",
      "webhookId": "5606130c-a587-45f1-aec8-d226d29dfa9c",
      "credentials": {
        "whatsAppApi": {
          "id": "zdxgeFffPkxImDJW",
          "name": "Whatsapp Account - Asisten Finansial"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "<email>",
          "mode": "list",
          "cachedResultName": "<email>"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        500,
        240
      ],
      "id": "c3885b8d-0baf-4455-9efc-68f3dbc766db",
      "name": "GetEventsTool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Y1UTejCsKyLeQobX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "<email>",
          "mode": "list",
          "cachedResultName": "<email>"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        640,
        240
      ],
      "id": "ba3248ce-7b70-4f9b-874f-83379295c48e",
      "name": "CreateEventTool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Y1UTejCsKyLeQobX",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetEventsTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CreateEventTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c7bcdcc-9a8a-4905-88cf-d09bf33a261f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa52a98dd39f67760c7540fff8a0dd5306d89f766551eb7a7c84b5f43eb33d4c"
  },
  "id": "bnnrpOQg4f9Xl1WN",
  "tags": []
}
